@import "tailwindcss";

/* Global */
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    @apply bg-[#09f] dark:text-white;
}

/* Theme */
@theme {
    --color-primary: #FFF3DE;
    --color-secondary: #4F3A21;
    --color-accent: #09f;

    /* --font-inter: Inter, sans-serif; */
    /* --font-montserrat: Montserrat, sans-serif; */
}

/* Design System */
.h1 {
    @apply font-bold text-5xl md:text-6xl lg:text-7xl tracking-wide;
}

.h2 {
    @apply font-bold text-4xl md:text-4xl lg:text-5xl tracking-wide;
}

.h3 {
    @apply font-bold text-3xl md:text-3xl lg:text-4xl tracking-wide;
}

.h4 {
    @apply font-bold text-2xl md:text-2xl lg:text-3xl tracking-wide;
}

a,
p,
span,
label {
    @apply text-sm md:text-base;
}

/* Utilities */
@utility flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@utility container {
    padding-inline: 10px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 80px;
    }

    @variant xl {
        padding-inline: 120px;
    }
}